name: Release Zarf Package

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - release/**
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+-rke2r[0-9]+'
    paths-ignore:
      - flake.*
jobs:
  packages:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        arch:
          - amd64
          - arm64
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Get git info
        id: describe
        run: |-
          echo "git_describe=$(git describe --first-parent --tags)" >> "$GITHUB_OUTPUT"

      - name: Install The Latest Release Version of Zarf
        uses: zarf-dev/setup-zarf@10e539efed02f75ec39eb8823e22a5c795f492ae # v1.0.1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Package Zarf package
        run: |-
          zarf package create \
            --confirm . \
            --architecture ${{ matrix.arch }} \
            --set version=${{ steps.describe.outputs.git_describe }}

      - name: Publish Zarf package
        run: |-
          zarf package publish --signing-key env://COSIGN_KEY --signing-key-pass ${{ secrets.COSIGN_PASS }} zarf-*.zst oci://ghcr.io/${{ github.repository_owner }}/zarf
        env:
          COSIGN_KEY: ${{ secrets.COSIGN_KEY }}
