name: Release Zarf Package

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - release/**
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+-rke2r[0-9]+'
    paths-ignore:
      - flake.*
jobs:
  packages:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        arch:
          - amd64
          - arm64
    steps:
      - name: action
        uses: ./.github/reusable/release@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          docker_hub_token: ${{ secrets.DOCKER_HUB_TOKEN }}
          docker_hub_user: ${{ secrets.DOCKER_HUB_USER }}
          architecture: ${{ matrix.arch }}
          cosign_key: ${{ secrets.COSIGN_KEY }}
          cosign_pass: ${{ secrets.COSIGN_PASS }}
