---
name: Populate Renovate resources
on:
  pull_request:
    branches:
      - main
      - release/*
permissions:
  contents: write
  id-token: write # needed for keyless signing
jobs:
  resources:
    name: renovate-config
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'renovate[bot]' }}
    steps:
      - name: action
        uses: colonel-byte/zarf-pkg-distro-rke2/.github/reusable/renvote@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
